.keys {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 2em;
  row-gap: 1em;
}

.note {
  margin-block-bottom: 2em;
}

section:not(:first-child) {
  margin-block-start: 2em;
}

#debug {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
}

#debug:not(:hover) {
  opacity: 0;
}