body {
  font: message-box;
}

h3 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

input[type="password"],
input[type="text"] {
  width: 50ch;
}

label, .form-rows {
  margin-top: 5px;
}

.service-settings,
.field-rows {
  display: grid;
}

.field-rows {
  column-gap: 0.5em;
  row-gap: 0.5em;
  grid-template-columns: max-content max-content;
}

#update-interval {
  max-width: 6ch;
}

#phabricator-session-status:not([has-session]) > span,
#phabricator-session-status[has-session="true"] > span.no-session,
#phabricator-session-status[has-session="false"] > span.yes-session {
  display: none;
}

#working-hours-fields[disabled] {
  opacity: 0.6;
}

section:not(:first-child) {
  margin-block-start: 2em;
}

#debug {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
}

#debug:not(:hover) {
  opacity: 0;
}